<div class="container">
    <div class="airline">
        <img src="assets/qbtkt/airlines/thai_lion.png">
        <div class="airline-name"> Thai Lion Air </div>
        <div class="price-block"><span class="price qb-big"> 1.206.210</span> <span class="qb-black bold">Vnđ</span><span style="color:gray">/vé</span></div>
    </div>
    <div class="time qb-big">
        12:45 - 14:45
        <div class="duration">2h 0m</div>
    </div>
    <div class="airport">
        <span class="airport-code ">HAN</span>
        <span class="airport-code ">DMK</span> Bay thẳng
    </div>
    <div class="more">
        <ion-icon name="ios-arrow-down-outline"></ion-icon>
    </div>
</div>