page-qbtkt-loading {
    ion-content {
        background-image: url("../assets/qbtkt/splash.png");
        background-size: cover;
        background-position: center;
        background-repeat: none;
    }
}