<ion-content class="qb-ion-content">
    <div class="header-height"></div>
    <div padding class="a1-fill-parent">
        <ion-grid class="qb-section">
            <ion-row class="a1-margin-bottom">
                <div>{{mDatas.useEmail?mSignUp.email_description:mSignUp.phonenumber_description}}</div>
            </ion-row>
            <ion-row *ngIf="mDatas.useEmail">
                <div class="qb-big">{{mSignUp.text_email}}</div>
            </ion-row>
            <ion-row *ngIf="mDatas.useEmail" class="black input-container a1-margin-bottom">
                <div class="a1-fill-parent">
                    <ion-input placeholder="" type="email"> </ion-input>
                </div>
            </ion-row>
            <ion-row *ngIf="mDatas.useEmail">
                <ion-col no-padding class="checkbox a3-container a3-items-center a1-margin-bottom">
                    <ion-checkbox style="margin: 0 8px 0 0" [(ngModel)]="mDatas.isShowPassword"></ion-checkbox>
                    <div>
                        <span>{{mSignUp.text_sendme}}</span>
                        <span class="blue-text" (tap)="onClickDiscountInfo()">{{mSignUp.text_discount}}</span>
                        <span>{{mSignUp.from_QB}}</span>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="!mDatas.useEmail" class="a1-margin-bottom">
                <ion-col no-padding col-3>
                    <ion-row class="grey-text">
                        <div nowrap class="a1-fill-parent">{{mSignUp.text_code}}</div>
                    </ion-row>
                    <ion-row class="phonenumber">
                        <div class="a1-fill-parent input-container">
                            <ion-input placeholder="vd: +84"></ion-input>
                        </div>
                    </ion-row>
                </ion-col>
                <ion-col no-padding>
                    <ion-row class="grey-text">
                        <div class="a1-fill-parent">{{mSignUp.text_phonenumber}}</div>
                    </ion-row>
                    <ion-row class="phonenumber">
                        <div class="a1-fill-parent input-container">
                            <ion-input placeholder="" type="number"></ion-input>
                        </div>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row class="a1-margin-bottom">
                <div class="a1-fill-parent a3-container">
                    <div class="toggle-container">
                        <ion-toggle [(ngModel)]="mDatas.useEmail"></ion-toggle>
                    </div>
                    <span>{{mDatas.useEmail?mSignUp.text_use_phonenumber:mSignUp.text_use_email}}</span>
                </div>
            </ion-row>
            <ion-row>
                <div class="qb-btn login-button qb-big a3-container a3-items-center a3-justify-center bold" (tap)="onClickSignUp()">
                    <span>{{mSignUp.text_signup}}</span>
                </div>
            </ion-row>
            <ion-row class="a3-items-center a3-justify-center a3-nowrap">
                <div class="line"></div>
                <div padding class="qb-big" style="color: grey">{{mSignUp.text_or}}</div>
                <div class="line"></div>
            </ion-row>
            <ion-row>
                <div class="qb-btn qb-big bold a3-container a3-items-center a3-justify-center a1-margin-bottom" style="background: #FF5A60 !important" (tap)="onClickLoginGoogle()">
                    <div class="a1-height-100" style="padding: 8px">
                        <img class="a1-height-100" src="assets/qbtkt/login/icon_google_plus.png">
                    </div>
                    <div>{{mSignUp.text_login_google}}</div>
                </div>
            </ion-row>
            <ion-row>
                <div class="qb-btn qb-big bold a3-container a3-items-center a3-justify-center" style="background: #5285C6 !important" (tap)="onClickLoginFacebook()">
                    <div class="a1-height-100" style="padding: 8px">
                        <img class="a1-height-100" src="assets/qbtkt/login/icon_fb.png">
                    </div>
                    <span>{{mSignUp.text_login_facebook}}</span>
                </div>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
<div class="qb-header">
    <img src="assets/qbtkt/home/top_bar_logo_2.png" class="logo">
    <div class="a-header-toolbar">
        <span class="button-left" (tap)="onClickClosePage()">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>
        <span class="title" style="padding-top: 20px">{{mSignUp.title}}</span>
    </div>
    <div style="height: 20px">

    </div>
</div>